<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
</head>
<body>
    <%- include('../partials/navbar') %>
    
    <h1>Welcome back, <%= user.name %></h1>
    <a href="/games/new"><button>Add a New Game</button></a>


    <h2>Your Games</h2>

    <ul>
        <% games.forEach(game => { %>
            <li>
                <strong><%= game.title %></strong> — <%= game.platform %> | <%= game.status %>
                <a href="/games/<%= game._id %>">View</a>
            </li>
        <% }) %>
    </ul>
</body>
</html>