<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Profile</title>
</head>
<body>
    <%- include('../partials/navbar') %>

    <h1>Edit Profile</h1>

    <% if (user.avatar) { %>
        <img src="<%= user.avatar %>" alt="Avatar" style="max-width:80px; border-radius:50%;">
    <% } %>
        
    <br><br>

    <form action="/users/profile?_method=PUT" method="post" enctype="multipart/form-data">
        <label for="avatar">Avatar</label>
        <input name="avatar" id="avatar" type="file" accept="image/*">

        <br><br>

        <label for="username">Username</label>
        <input name="username" id="username" value="<%= user.username %>">

        <br><br>

        <label for="name">Name</label>
        <input name="name" id="name" value="<%= user.name %>">

        <br><br>

        <label for="age">Age</label>
        <input name="age" id="age" type="number" min="6" value="<%= user.age %>">

        <br><br>

        <label for="bio">Bio</label>
        <textarea name="bio" id="bio"><%= user.bio %></textarea>

        <br><br>

        <button type="submit">Save Changes</button>
        <br><br>

        <a href="/auth/change-password">Change Password</a>
    </form>
</body>
</html>