<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Profile</title>
    <link rel="stylesheet" href="/styles/style.css">
</head>
<body>
    <%- include('../partials/navbar') %>

    <main>
        <div class="profile-container">
            <div class="profile-form">
                <label for="avatar" class="avatar-wrapper">
                    <% if (user.avatar) { %>
                        <img id="avatarPreview" src="<%= user.avatar %>" alt="User Avatar">
                    <% } else { %>
                        <img id="avatarPreview" src="/images/logo-no-text2.png" alt="Default Avatar">
                    <% } %>
                </label>

                <h2><%= user.name %></h2>
                <p>@<%= user.username %></p>
                <p><%= user.email %></p>
                <p><%= user.bio %></p>

                <div class="profile-actions">
                    <a href="/users/profile/edit" class="game-submit-btn">Edit Profile</a>

                    <form action="/users/<%= user._id %>?_method=DELETE" method="post">
                        <button type="submit" class="game-submit-btn" style="background-color: #555;">Delete</button>
                    </form>
                </div>
            </div>
        </div>
    </main>
</body>
</html>